* {	
	/*universal selector*/
		
	text-align: center;
	margin: 0rem 0rem 0rem 0rem;
	margin: 0rem auto 0rem auto;
	
	font-family: Georgia;
	color: black;
	background-color:white;
	font-size:1rem;
	display:block;
	
	/*
	color: red;
	border: solid 1px black;
	clear:both;
	
	
	
	*/
}
head{
	display:none;
}

html{
	height:100%;
	text-align: center;
	margin: 0rem 0rem 0rem 0rem;
	padding: 0rem 0rem 0rem 0rem;
	color: black;
	background-color:#1c1d21;
	font-size:85%;
	
}


body{
	/*background-color:black;
	min-height:100%;
	width:100%;*/
	background-color:#ea9bca;
	
	}
	
body>div {
	width: 98%;
	
	
	/*
	max-width:550px;
	*/
}
	
div{
	
	/*border: solid 1px black;*/
	
}	
	
	
h1 {
	letter-spacing:0.1rem;
	font-size:1.2rem;
	font-weight:bold;

}

p{
	font-size:1rem;
	color: white;
	
}

ul {
	list-style-type:none;
	margin: 0.35rem 0.35rem 0.35rem 0.35rem;
	background-color:#4e5d76;
	color: white;
	padding: 0rem 0rem 0rem 0rem;
	/*display:inline;*/
}

li {
	
	background-color:#4e5d76;
	color: white;
	padding: 0rem 0rem 0rem 0rem;
	/*display:inline;*/
	
}

a {
	background-color:#1c1d21;
	color: white;
	text-decoration: none;
}


.menu {
	background-color:#1c1d21;
	min-width:100%;
	display:inline-block;
	margin-left:0rem;
	margin-right:0rem;
}

.menulist{
	background-color:#1c1d21;
	
}

.menuitem {
	font-size:2rem;
	display:inline-block;
	margin-left:1rem;
	margin-right:1rem;
	padding-left:1rem;
	padding-right:1rem;
	background-color:#1c1d21;
}
.menuitem a {
	font-size:1.5rem;

}

.currentpage {
	font-weight:bold;
	background-color:#3e3b36;
	border-radius:1rem;
}
.currentpage a{
	font-weight:bold;
	background-color:#3e3b36;
}

.logocontainer {
	background-color:#ea9bca;
}

#logo {
	width:100%;
	max-width:1000px;
	background-color:#ea9bca;
	margin-top:0.5rem;
		
}

.contentblock {
	background-color:#1c1d21;
	margin: 1rem auto 1rem auto;
	display:inline-block;
	clear:left;
	
	
}

.bodydiv {
	margin: 0.35rem 0.35rem 0.35rem 0.35rem;
	padding: 0.05rem;
	background-color:#4e5d76;
	/*display:inline-block;*/
}

.bodyheader {
	margin: 0rem 0.35rem 0.35rem 0.35rem;
	background-color:#4e5d76;
	color: white;
	
}

.bodytext {
	text-align:left;
	margin: 0.35rem 0.35rem 0.35rem 0.35rem;
	background-color:#4e5d76;
	color: white;
}




#services {
	/*margin: 0.35rem 0.35rem 0.35rem 0.35rem;*/
	padding: 0rem 0rem 0rem 0rem;
	/*width:100%;*/
}

.service{
	/*width:50%;*/
	
	
}
#galintro{
	text-align:center;
}

#gallery {
	background-color:#4e5d76;
	
}

#galul{
	width:100%;
	margin:0rem;
	padding:0rem;
	background-color:#ea9bca;
	
}

.galitem {
	background-color:#1c1d21;
	display:inline-block;
	width: 100%;
	margin:1rem 0rem 1rem 0rem;
	padding:0rem;
}

.gallink {
	background-color:#4e5d76;
	padding: 0.35rem;
	margin: 0rem;
	border: solid 0.35rem #1c1d21;
}
	

.galimage {
	background-color:#4e5d76;
	width:100%;
	border: solid 1px black;
	
	
	
	
}

.galcaption {
	background-color:#4e5d76;
	margin: 0.35rem 0rem 0rem 0rem;
}

#mask{
		background:rgba(0,0,0,0.7);
		width:100%;
		min-width:100%;
		height:100%;
		min-height:100%;
		position:absolute;
		top:0;
		left:0;
		display:none;
	
		
}

#maskcap{
	background:rgba(0,0,0,0);
	margin:0.35rem 0.35rem 0.35rem 0.35rem;
	font-weight:bold;
	
}
	

#context{
	text-align:center;
}

.contactlist{
	margin: 0.5rem;
}

#address {
	margin: 0.25rem;
}

#email {
	margin: 0.25rem;
}
#phone {
	margin: 0.25rem;
}





footer{
	
	padding: 0.25rem 0rem 0.25rem 0rem;
	color: white;
	/*border-top: solid 1px black;*/
	/*background-color:#FF91DA;*/
	background-color:#1c1d21;
	font-family: sans-serif;
	font-size:1rem;
	font-weight:bold;
	bottom:0;
	width:100%;
}
	
	
	
@media (orientation:landscape){
	
	body>div {
		max-width:50%;
	}
	
}

@media (orientation:portrait){

	body>div {
			max-width:98%;
	}


	
}
}


	